.App {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
.head {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 50px;
}
.product {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 50px;
}
.item {
  border: 1px solid black;
}

.product h3 {
  border: 2px solid black;
  cursor: pointer;
}
